@import "tailwindcss";

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-green: #4d8853;
  --color-green: #52be80;
  --color-light-green: #50ff6d;
  --color-dark-color: #1f211f;
}

* {
  box-sizing: border-box;
  scroll-margin-top: 120px;
}

html,
body {
  overflow-x: clip;
  margin: 0;
  padding: 0;
  /* background-color: var(--backround); */
}

h1,
h2 {
  font-size: 35px;
  overflow-wrap: break-word;
  /* hyphens: auto;
  -webkit-hyphens: auto; */
}

h3,
h4 {
  font-size: 25px;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.h1-elem::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--color-green);
  transition: all ease 0.4s;
}

@media (max-width: 1280px) {
  .h1-elem::before {
    height: 5px;
    width: 20px;
  }
}

.h1-elem:hover::before {
  left: calc(100% - 60px);
}

@media (max-width: 1280px) {
  .h1-elem:hover::before {
    left: calc(100% - 20px);
  }
}

.arrow-left,
.arrow-right {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  transition: all ease 0.3s;

  transform-origin: calc(100% - 7.5px) 50%;
}

@media (max-width: 1280px) {
  .arrow-right,
  .arrow-left {
    height: 5px;
    width: 15px;

    transform-origin: calc(100% - 2.5px) 50%;
  }
}

.h1-elem:hover .arrow-right {
  transform: translateY(-50%) rotate(-45deg);
  background-color: var(--color-green);
}

.h1-elem:hover .arrow-left {
  transform: translateY(-50%) rotate(45deg);
  background-color: var(--color-green);
}
